.projectDashboard {
  display: flex;
  flex-direction: column;
}

.projectsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.addProject {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.addProject input {
  border: 2px solid #000000;
  border-radius: 7px;
  font-weight: 700;
  font-size: xx-large;
}

.addProject span {
  font-weight: 700;
  font-size: xx-large;
  padding: 3px;

  text-align: center;
}
