.authContainer {
  display: flex;

  flex-direction: column;
}

.authContainer button {
  padding: 1em;
  border: none;
  border-radius: 20px;
  font-size: x-large;
  margin: 1em 0em;
  font-weight: 700;
}

.authContainer form {
  display: flex;
  flex-direction: column;
}

.authContainer form input {
  margin: 2px 0;
  padding: 5px;
  font-size: larger;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
