.project {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  margin: 4px 2px;
  border-radius: 10px;
  border: 1px solid black;
}

.projectTitle {
  background: lightgray;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  border: none;
  display: flex;
  flex-shrink: 0;
}

.projectTitle input {
  background: none;
  padding: 10px;
  border: none;
  font-weight: 700;
  font-size: larger;
  flex-grow: 2;
}
.projectTitle span {
  float: left;
  flex-grow: 0;
  padding: 10px 3px;
}
